<div class="container">
    
    <div>
        <tbody>
            @for(emprendedor of emprendedores; track emprendedor){
            <tr>
                <td>{{emprendedor.nombre}}</td>
                <td>{{emprendedor.pregrado}}</td>
                <td>{{emprendedor.genero}}</td>
                <td>
                    <button 
                      class="btn btn-outline-primary btn-sm" 
                      [routerLink]="['/emprendedores', emprendedor.id]">
                      Ver detalle
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </div>
</div>

